# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*$py.class


# ======================
# Testing / Coverage
# ======================
.coverage
coverage.xml
htmlcov/
.pytest_cache/
.tox/

# ======================
# IDEs & Editors
# ======================
.vscode/
.idea/
*.swp
*.swo
*~

# ======================
# OS Files
# ======================
.DS_Store
Thumbs.db


# ======================
# SonarQube / SonarLint
# ======================
.sonar/
.sonarcloud/
sonar-project.properties

# ======================
# Build / Distribution
# ======================
build/
dist/
*.egg-info/

# ======================
# Environment Variables
# ======================
.env
.env.*

# ======================
# Temporary files
# ======================
tmp/
temp/
